<h2>Virtual Scroll Test</h2>

<div class="container">

  <div class="column">
    <h3>Ag Virtual Scroll</h3>
    <div class="content">
      <ag-virtual-scroll *ngIf="dataLoaded; else loading" #vs [items]="data" height="70vh" [min-row-height]="40"
        class="box-border styledScroll" (onItemsRender)="onAgScroll_itemsRender($event)">
        <div class="row" *ngFor="let item of vs.items; let i = index">
          <div class="bubble">
            <span>
              {{ item.index}} - {{ item.text }}
            </span>
          </div>
        </div>
      </ag-virtual-scroll>
      <div class="dummyLoader" *ngIf="!agVirtualScrollInitialized">
        Loading...
      </div>
    </div>
    <div class="actions">
      <!-- <button (click)="scrollToBottom_AgScroll()"></button> -->
    </div>
  </div>

  <div class="column">
    <h3>Cdk Experimental</h3>
    <div class="content">
      <cdk-virtual-scroll-viewport class="styledScroll" #cdkViewport autosize (scrolledIndexChange)="log($event)">
        <div class="row" *cdkVirtualFor="let item of data">
          <div class="bubble">
            <span>
              {{ item.index}} - {{ item.text }}
            </span>
          </div>
        </div>
      </cdk-virtual-scroll-viewport>
    </div>
    <div class="actions">
      <button (click)="scrollToBottom()">Scroll To Bottom</button>
    </div>
  </div>

  <div class="column">
    <h3>Ngx-UI-Scroll</h3>
    <div class="content">
      <div class="styledScroll" style="height: 70vh; overflow: auto;">
        <div class="row" *uiScroll="let item of ngxUIDataSource">
          <div class="bubble">
            <span>
              {{ item.index}} - {{ item.text }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="scrollTo_ngxUiScroll()">Scroll to 700</button>
      <button (click)="update_ngxUIScroll()">Update 700</button>
    </div>
  </div>
</div>

<ng-template #loading>
  <span>Generating Dummy Data!</span>
</ng-template>